<template>

  <div>

    <div class='d-flex'>
      <sidenav :dataSet='dataSet'></sidenav>

      <secondnav v-if='dataSet.showsecondnav' :dataSet='dataSet'></secondnav>

      <main class='maindiv d-flex flexmaindiv flow-column'>
        <!-- Fixed header content================= -->
        <fixedheaders :dataSet='dataSet'></fixedheaders>

        <!-- Above work area======================= -->
        <aboveworkarea v-if='dataSet.aboveWorkAreaMsg' :dataSet='dataSet'></aboveworkarea>

        <editdummy v-if='dataSet.loading'></editdummy>

        <form v-else class='ui form pl15 mt25 mb50' @submit.prevent="customUpdate()">
          <div class='w600'>

            <table class="table table-striped">
              <tr>
                <td>Title</td>
                <td><input type="text" v-model="form.title" class="form-control">
                    <span v-if="form.errors" class="text-danger">{{this.form.errors.errors.title}}</span>
                </td>
              </tr>
              <tr>
                <td>ISBN</td>
                <td><input type="text" v-model="form.isbn" class="form-control">
                    <span v-if="form.errors" class="text-danger">{{this.form.errors.errors.isbn}}</span>
                </td>
              </tr>
              <tr>
                <td>Shelf no</td>
                <td><input type="text" v-model="form.shelf_no" class="form-control">
                      <span v-if="form.errors" class="text-danger">{{this.form.errors.errors.shelf_no}}</span>
                  </td>
              </tr>
              <tr v-show='false'>
                <td>Stock available</td>
                <td><input type="number" min=0 v-model="form.stock" class="form-control">
                    <span v-if="form.errors" class="text-danger">{{this.form.errors.errors.stock}}</span>
                </td>
              </tr>
            </table>

          </div>
          
          <div class='w600 mt10'>
            <button :disabled='form.busy' type='submit' class='btn btn-success'>Submit</button>
            <button :disabled='form.busy' type='button' class="btn btn-danger" @click="customDelete($route.params.id)">
              Delete
            </button>
          </div>

        </form>

      </main>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      languages: [],
      expertise: [],
      job_types: [],
      clients: [],
      lead_sources: [],
      selectedClientDisplay_name:'',
      selectedClientAddress:'',
      tax_categories: [],
      profileData: [],
      currencies: [],
      dataSet: {
        eachCheckbox: [],
        search:'',
        showaddnew: false,
        mainSidenav: true,
        settingsSidenav: false,
        showsecondnav: false,
        aboveWorkAreaMsg: false,
        redirectPath: '/books',
        loading:true,
        dummyRows: 10,
        heading1:this.$route.path.split('/')[3]=='duplicate'?'Add new book':'Update book',
        path: '/books',
        deleteMsg: this.$route.path.split('/')[3]=='duplicate'?'':'book deleted successfully',
        toastMsg: this.$route.path.split('/')[3]=='duplicate'?'book added sucessfully':'book updated successfully',
      },
      form: new Form({
        title:'',
        isbn:'',
        shelf_no:'',
        stock:0,
      }),
    }
  },

  methods: {
    

  },

  created() {
      
      var id = `${this.$route.params.id}`;
      this.loadProfile(id);
  },
  mounted(){
    
  },
  
}
</script>
