<template>
  <div>
    <div class='d-flex'>
      <sidenav :dataSet='dataSet'></sidenav>

      <secondnav v-if='dataSet.showsecondnav' :dataSet='dataSet' :fetchedRows='fetchedRows' :filteredList='filteredList' keyToCall='ref_no'></secondnav>

      <main class='maindiv d-flex flexmaindiv flow-column'>
        <!-- Fixed header for profile starts here================= -->
        <div class='fixedheader editfixedheader'>
          <div class='mr15 ml15 mt10'>
            <div class='d-inblock'>
              <h1>
              <div class='ui active inline loader' v-if='profileData.length<=0'></div>
                <span v-else>
                  {{profileData.client_name}}<span v-if="profileData.is_client_deleted" class="pointer" data-inverted data-tooltip='Client deleted' data-position='bottom right' >*</span> ({{profileData.ref_no}})
              </span>
              </h1>
            </div>
            <div v-if='profileData.length<=0'></div>
            <div v-else class='ui basic icon tiny buttons right floated'>

              <router-link v-if="!profileData.is_client_deleted" :to="dataSet.path+'/'+profileData.id+'/edit/'" class='ui icon button' data-inverted data-tooltip='Edit' data-position='bottom right' >
                <i class='icon pencil'></i>
              </router-link>

              <!-- Float right buttons start================================== -->
              <router-link :to="dataSet.path+'/'+profileData.id+'/duplicate'" class='ui icon button' data-inverted data-tooltip='Duplicate' data-position='bottom right' >
                <i class='icon clone'></i>
              </router-link>

               <router-link v-if="profileData.quotation.series!=undefined" :to="'/quotations/'+profileData.quotation.id+'/general?page='+fetchedRows.current_page" class='ui icon button' data-inverted data-tooltip='View Quote' data-position='bottom right' >
                  View Quote
               </router-link>
                <router-link v-else-if="profileData.status!='Lost' && !profileData.is_client_deleted" :to="'/quotations/'+profileData.id+'/conversion'" class='ui icon button' data-inverted data-tooltip='Make Quote' data-position='bottom right' >
                  <i class='icon file alternate'></i> Make Quote
                </router-link>

              <button v-if="profileData.quotation.series==undefined && profileData.status!='Lost'"  class='ui icon button' data-inverted data-tooltip='Mark lost'  data-position='bottom right' @click="localMarkLost">
                <i class='icon file alternate'></i> Mark lost
              </button>


              <!-- Float right buttons end================================== -->
            </div>
          </div>

          <div class='ui pointing secondary menu mt5'>

            <router-link :to="dataSet.path+'/'+$route.params.id+'/general?page='+fetchedRows.current_page" class='item'>General</router-link>

            <!-- <router-link :to="dataSet.path+'/'+$route.params.id+'/jobs'" class='item'>Jobs</router-link>

            <router-link :to="dataSet.path+'/'+$route.params.id+'/history'" class='item'>History</router-link> -->

          </div>
        </div>

        <!-- Fixed header for profile ends here================= -->

        <!-- Above work area======================= -->
        <!-- <aboveworkarea></aboveworkarea> -->

        <div class='mr15 ml15 pt10 pb10'>
          <router-view></router-view>
        </div>

      </main>
    </div>
  </div>
</template>

<script>
export default {

  data: function() {
    return {
      selectAll: false,
      fetchedRows: [],
      profileData: [],
      dataSet: {
        eachCheckbox: [],
        search: '',
        showaddnew: true,
        mainSidenav: true,
        settingsSidenav: false,
        showsecondnav: true,
        aboveWorkAreaMsg: false,
        loading: true,
        dummyRows: 10,
        deleteMsg: 'Lead deleted successfully',
        path: '/leads',
        secondnavheading: 'Leads'
      },
      form: new Form ({}),
    };
  },

  created() {
    this.loadIndex(this.$route.query.page);
    var id = `${this.$route.params.id}`;
    this.loadProfile(id);

    Fire.$on('loadindex',()=>{
      this.loadIndex(this.$route.query.page)
      this.dataSet.eachCheckbox=[]
    })

    Fire.$on('searching',()=>{
        let query = this.dataSet.search;
        this.searchQuery(query);
    })

  },
  methods:{
    localMarkLost(){
      var path="/leads/"+this.profileData.id+'/marklost'
      this.markLost(path)
    }
  },

  mounted() {
        setTimeout(() => {
          document.getElementById("sidenavitem"+this.$route.params.id).scrollIntoView({ behavior: 'smooth'});
        }, 1000);
  },


  beforeRouteUpdate(to, from, next) {
    this.loadProfile(to.params.id);
    next();
  }
};
</script>
