<template>
  <div><table class="ui table celled selectable">
  <thead>
    <tr>
      <th>S.No</th>
      <th>Job ID</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Payment date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td><a href="javascript:void(0)">JB/431</a></td>
      <td>$379</td>
      <td><span class="ui green label tiny">Paid</span></td>
      <td>August 25, 2017</td>
    </tr>
    <tr>
      <td>2</td>
      <td><a href="javascript:void(0)">JB/432</a></td>
      <td>$478</td>
      <td><span class="ui red label tiny">Pending</span></td>
      <td>Sep 09,2018</td>
    </tr>
    <tr>
      <td>1</td>
      <td><a href="javascript:void(0)">JB/433</a></td>
      <td>$695</td>
      <td><span class="ui green label tiny">Paid</span></td>
      <td>Nov 02, 2013</td>
    </tr>
    <tr>
      <td>2</td>
      <td><a href="javascript:void(0)">JB/434</a></td>
      <td>$235</td>
      <td><span class="ui red label tiny">Pending</span></td>
      <td>Jan 12,2011</td>
    </tr>
  </tbody>
</table>
</div>
</template>

<script>
export default {
mounted() {
  let recaptchaScript = document.createElement('script')
  recaptchaScript.setAttribute('src', '/js/main.js')
  document.head.appendChild(recaptchaScript);
},

data: function () {
  return {
    dataSet: {
      showaddnew: false,
    }
  }
},
}
</script>
