<template>

  <div>
<!-- modal -->
<div class="ui modal">
  <div class="header">Header</div>
  <div class="image content">
    <img class="image">
    <div class="description">
      <p></p>
    </div>
  </div>
</div>
<!-- modal -->
    <div class="ui card w500" style="margin: auto; margin-top: 100px;">
    
    <div class="content">
        <form  class='ui form p15 m25 mb50' @submit.prevent='loginfun'>
            <div class=''>
                <!-- snip: formheading======================== -->
                <emailbox label='E-mail' idVal='email' :required='true' :form='form' :showlabel='true' :isMini='false'></emailbox>
                <passwordbox label='Password' idVal='password' :required='true' :form='form' :showlabel='true' :isMini='false'></passwordbox>
            </div>

            <!-- snip: multirowtable=========================== -->

            <div class=' mt10'>
              <button :disabled='form.busy' type='submit' class='btn btn-success'>Submit</button>
            </div>

              <br>

        </form>
    </div>
    </div>

  </div>
</template>

<script>
export default {
  data: function () {
    return {
      msgsData:[],
      isDemo:false,      
      form: new Form({
        'email':'',
        'password':'',
      }),
    }
  },

  methods: {
          loginfun(){
            this.$store.dispatch("retrieveToken",{
              username: this.form.email,
              password: this.form.password
            })
            .then(response => {
              this.$store.dispatch("retrieveUserDetail")
              this.$router.push("/users");
            })
        },
        showModal(){
          $('.ui.modal').modal('show')
        },
  },
  mounted(){
    if(this.loggedIn)
    this.$router.push("/users");
  }

}
</script>
