<template>
  <div>
    <div class='d-flex'>
      <sidenav :dataSet='dataSet'></sidenav>
      <secondnav v-if='dataSet.showsecondnav' :dataSet='dataSet' :keyToCall='ref_no'></secondnav>

      <main class='maindiv d-flex flexmaindiv flow-column'>
        <!-- Fixed header content================= -->
        <fixedheaders :dataSet='dataSet'></fixedheaders>
        <!-- Above work area======================= -->
        <aboveworkarea v-if='dataSet.aboveWorkAreaMsg' :dataSet='dataSet'></aboveworkarea>

        <!-- Work area============================== -->
        
        <div class="input-group mb-3 w600">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Select User</span>
          </div>
          <select class="form-control" v-model="selecteduserfortransaction">
            <option v-for='libraryuser in libraryusers' :key='libraryuser.id' :value='libraryuser.id'>{{libraryuser.name}}</option>
          </select>
        </div>

        <table v-show="books.length>0" class='table table-bordered selectable'>
          <thead>
            <tr>
              <th v-for='(tableheading,index) in dataSet.tblHeadings' :key='index' v-html='tableheading'></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for='book in books' :key='book.id'>
              
              <td>{{book.title}}</td>
              <td>{{book.isbn}}</td>
              <td>{{book.shelf_no}}</td>
              <td><input type='button' class='btn btn-primary btn-sm' value='Issue' @click='issueBook(book.id,selecteduserfortransaction)'></td>
            </tr>
          </tbody>
        </table>

<!-- pagination -->

      </main>
    </div>
  </div>
</template>
<script>
  export default {
    data: function () {
      return {
        selectAll:false,
        fetchedRows: [],
        libraryusers:[],
        books:[],
        selecteduserfortransaction:null,
        dataSet: {
          eachCheckbox: [],
          search:'',
          showSearch:true,
          showImportExport:false,
          showaddnew: false,
          mainSidenav: true,
          settingsSidenav: false,
          showsecondnav: false,
          aboveWorkAreaMsg: false,
          loading:true,
          dummyRows: 10,
          heading1:'Book Issue',
          path: '/isrt',
          tblHeadings: [
           'Title', 'ISBN',	'Shelf no', '',	
          ],
        },
      }
    },
    created() {
      this.allLibraryUsers('/alllibraryusers');
    },
    watch: {
      'selecteduserfortransaction': function (value) {
            if (value != undefined) {
              this.getBooksForIssue()
            }
            else{
              this.books=[]
            }
        }
    },

  }
</script>
