<template>
  <div>
    <div class='d-flex'>
      <sidenav :dataSet='dataSet'></sidenav>
      <secondnav v-if='dataSet.showsecondnav' :dataSet='dataSet' :keyToCall='ref_no'></secondnav>

      <main class='maindiv d-flex flexmaindiv flow-column'>
        <!-- Fixed header content================= -->
        <fixedheaders :dataSet='dataSet'></fixedheaders>
        <!-- Above work area======================= -->
        <aboveworkarea v-if='dataSet.aboveWorkAreaMsg' :dataSet='dataSet'></aboveworkarea>

        <!-- Work area============================== -->
        <table class='table table-bordered selectable'>
          <thead>
            <tr>
              <th v-for='(tableheading,index) in dataSet.tblHeadings' :key='index' v-html='tableheading'></th>
            </tr>
          </thead>

          <tabledummy v-if='issuedbooks.length<1' :dataSet='dataSet'></tabledummy>

          <tbody>
            <tr v-for='issuedbook in issuedbooks' :key='issuedbook.id'>
              
              <td v-if="issuedbook.userdetail!=undefined">{{issuedbook.userdetail.name}}</td>
              <td v-else>--</td>
              <td v-if="issuedbook.bookdetail!=undefined">{{issuedbook.bookdetail.title}}</td>
              <td v-else>--</td>
              <td v-if="issuedbook.bookdetail!=undefined">{{issuedbook.bookdetail.isbn}}</td>
              <td v-else>--</td>
              <td>{{issuedbook.issue_date | myDate("Asia/Kolkata","MMM D, YYYY")}}</td>
              <td>{{issuedbook.due_date | myDate("Asia/Kolkata","MMM D, YYYY")}}</td>
              <td>{{issuedbook.return_date | myDate("Asia/Kolkata","MMM D, YYYY")}}</td>
            </tr>
          </tbody>
        </table>

<!-- pagination -->

      </main>
    </div>
  </div>
</template>
<script>
  export default {
    data: function () {
      return {
        selectAll:false,
        fetchedRows: [],
        profileData:[],
        issuedbooks:[],
        dataSet: {
          eachCheckbox: [],
          search:'',
          showSearch:true,
          showImportExport:false,
          showaddnew: false,
          mainSidenav: true,
          settingsSidenav: false,
          showsecondnav: false,
          aboveWorkAreaMsg: false,
          loading:true,
          dummyRows: 10,
          heading1:'Book Issue/Return Transactions',
          path: '/isrt/transactions',
          tblHeadings: [
           'Issued By',	'Title', 'ISBN',	'Issue date',	'Due date', 'Return Date',	
          ],
        },
      }
    },
    mounted() {
      this.getAllIssuedBooks()

      // Fire.$on('searching',()=>{
      //     let query = this.dataSet.search;
      //     this.searchQuery(query);
      // })
    },
    beforeCreate() {
      // if(localStorage.getItem('userrole')=='client'){
      //   this.$router.replace('/clportal/projects')
      //   }
      // if(localStorage.getItem('userrole')=='vendor'){
      //   this.$router.replace('/venportal/jobs')
      //   }
    },

  }
</script>
