<template>
  <div class="field" :class="{ 'error': form.errors.has(idVal) }">

    <!-- if not looped - Normal ========================================================-->
    <div v-if="!isMultiRowLooped">
      <label :for="idVal" v-if="showlabel">
        {{label}}<span v-if="required" class="required_star">*</span>
      </label>
      <div class="ui input" :class="{mini:isMini}" >
        <input :required="required" v-model="form[idVal]" type="tel" :name="idVal" :id="idVal" :placeholder="label">
      </div>
      <has-error class="ui basic red pointing prompt label transition visible" :form="form" :field="idVal"></has-error>
    </div>

    <!-- if looped - Multiple rows table ============================================== -->
    <div v-else>
      <label :for="idVal" v-if="showlabel">
        {{label}}<span v-if="required" class="required_star">*</span>
      </label>
      <div class="ui input" :class="{mini:isMini}" >
        <input autocomplete="no" :required="required" v-model="loopVariable[idVal]" type="tel" :name="idVal" :id="idVal" :placeholder="label">
      </div>
      <has-error class="ui basic red pointing prompt label transition visible" :form="form" :field="idVal"></has-error>
    </div>

  </div>
</template>

<script>
  export default {
    props: ['idVal', 'label', 'required', 'form', 'showlabel','isMini','isMultiRowLooped','loopVariable'],
  }
</script>
