<template>
  <tbody>
    <tr v-for='(dummyRow,index) in dataSet.dummyRows' :key='index'>
        <td>
            <div class='ui placeholder'>
                <div class='full line'></div>
            </div>
        </td>
        <td v-for='(tableheading,index) in dataSet.tblHeadings' :key='index'>
            <div class='ui placeholder'>
                <div class='full line'></div>
            </div>
        </td>
    </tr>
  </tbody>
</template>

<script>
  export default {
    props: ['dataSet'],
  }

</script>
