<template>
  <div class="abovetable pl15 pr15">
      <div class="ui icon message warning mt10 mb10">
        <i class="close icon"></i>
        <i class="inbox icon"></i>
        <div class="content">
          <div class="header">
            Have you log heard about our mailing list?
          </div> 
          
          <p>Get the best news in your e-mail every day.</p>
        </div>
      </div>
  </div>
</template>

<script>
    export default {
      props: ['dataSet'],
    }
</script>