<template>
  <div class="fixedheader d-flex p10">
    <div class="flex_start">
      <h1>{{dataSet.heading1}}</h1>
      <router-link v-if="dataSet.showaddnew" class="btn btn-sm btn-primary addnewbutton" :to="dataSet.path + '/new'">
        <i class="fas fa-plus"></i> Add new
      </router-link>

    </div>
    <div class="mt5 mr5" v-if="dataSet.showCustomFilter">
      <div class="ui mini basic icon buttons">
        <button class="ui label pointer" :class="filterclass"  @click="showCustomFilterModal">
          <i class="filter icon"></i>{{filtername}}
          <!-- <i class="cloud upload icon"></i> -->
        </button>
      </div>
        <button class="btn btn-sm btn-info" @click="clearFilter" v-if="showClearCustomSearchFilter && dataSet.showSearch">
        <i class="close icon"></i>
          Clear filter
        </button>

      <vendorfiltersmodal ref="vendorfilter" className="vendorfiltermodal" formClass="vendorfilterform"></vendorfiltersmodal>
    </div>
    <div class="mt5">

      <!-- <div v-if='dataSet.showSearch' class="">
        <input type="text" class="form-control" placeholder="Search..." v-model="dataSet.search" @keyup.enter="searchIt">
        <i class="circular search link icon" @click="searchIt"></i>
      </div> -->

      <button class="ui button mini yellow" @click="clearFilter" v-if="showClearFilter && dataSet.showSearch">
        <i class="fas fa-close icon"></i>
        Clear search
      </button>

      <button v-show="dataSet.eachCheckbox.length>0" class="btn btn-sm btn-danger" @click="deleteListItems">
        Delete
      </button>
    </div>
  </div>
</template>

<script>
  export default {
    data: function () {
      return {
        filtername:'Apply filters',
        filterclass:'default',
        showClearCustomSearchFilter:false
      }
    },
    props: ['dataSet'],
    methods: {
      deleteListItems(){
        this.deleteSelected()
      },
      showImportModal(){
        $(".importmodal").modal('show')
      },
      showCustomFilterModal(){
        $(".vendorfiltermodal").modal('show');
      },
      // submitCustomFilter(){
      //   axios.get('/exportclients')
      //   .then((data)=>{
      //     console.log('Ok')
      //   })
      //   .catch((error)=>{
      //     console.log('Not ok')
      //   })
      // }
    },
  }
</script>
