<template>
  <nav class="sidenav secondsidenav">
    <div class="stickynav secondstickynav">

      <div class="p10 fixedheader bbnone">
        <h2 class="mb10 d-inblock">{{dataSet.secondnavheading}}</h2>
        <div class="floatright addnewbutton" v-if="dataSet.showaddnew">
          <router-link v-if="dataSet.combinationapplicable" :to="'/makebundleinvoice/' + JSON.stringify(dataSet.eachCheckbox)+ dataSet.ids_for_invoice" class="ui icon button green mini" >Generate Invoice</router-link>
          <router-link :to="dataSet.path + '/new'" class="ui icon teal button mini floated right vertical mt5" data-inverted="" data-tooltip="Add new" data-position="bottom right">
            <i class="icon plus"></i>
          </router-link>

          <a class="ui icon button red mini floated right vertical" v-show="dataSet.eachCheckbox.length>0"
            @click="deleteListItems" data-inverted="" data-tooltip="Delete" data-position="bottom right">
            <i class="icon trash alternate"></i>
          </a>
        </div>

        <div class="ui icon input mini fluid">
          <input type="text" placeholder="Search..." v-model="dataSet.search" @keyup.enter="searchIt">
          <i class="circular search link icon" @click="searchIt"></i>
        </div>

        <a class="ui label yellow mini ml0" @click="clearFilter" v-if=this.showClearFilter>
          Clear filter
        </a>

      </div>

      <table class="ui celled table selectable mt0">
        <tbody v-if="dataSet.loading">
          <tr v-for="(dummyRow,index) in dataSet.dummyRows" :key="index">
            <td>
              <div class="ui placeholder">
                <div class="full line"></div>
              </div>
            </td>
          </tr>
        </tbody>
        <tbody v-else>
          <tr v-for='fetchedRow in filteredList' :key="fetchedRow.id" :id="'sidenavitem'+fetchedRow.id">
              <td class="sidenavcheckboxtd" :class="($route.params.id==fetchedRow.id)?'router-link-exact-active router-link-active':null">
              <div class="ui checkbox mr10 d-inblock sidenavcheckbox" v-if="!dataSet.hideCheckbox">
                  <input :disabled="fetchedRow.deleted_at!=null" type="checkbox" :value="fetchedRow.id" v-model="dataSet.eachCheckbox">
                  <label></label>
                </div>
              </td>
              <router-link tag="td" :to="dataSet.path+'/'+fetchedRow.id+'/general?page='+fetchedRows.current_page" class="sidenavtexttd" :class="($route.params.id==fetchedRow.id)?'router-link-exact-active router-link-active':null">
                <!-- <div class="ui checkbox mr10 d-inblock sidenavcheckbox" v-if="!dataSet.hideCheckbox" @click="alert()">
                  <input :disabled="fetchedRow.deleted_at!=null" type="checkbox" :value="fetchedRow.id" v-model="dataSet.eachCheckbox">
                  <label></label>
                </div> -->
                <div class="d-inblock secondnavcelltext" v-html="fetchedRow[keyToCall]"></div>
                
              </router-link>
          </tr>
        </tbody>
      </table>

<!-- pagination -->

    </div>

  </nav>


  </template>

  <script>
    export default {
      props: ['dataSet','fetchedRows','filteredList','keyToCall'],
      methods: {
        deleteListItems(){
          this.deleteSelected()
        },
        getResultsSecNav(page = 1) {
            axios.get('/api'+this.$parent.dataSet.path+'?page=' + page)
                .then(response => {
                    this.$parent.fetchedRows = response.data;
                });
        },        
      },
    }
  </script>
