<template>
  <nav class="sidenav">
    <div class="">

      <!-- Main nav============================ -->
      <ul v-if="dataSet.mainSidenav">

        <li class="">
          <router-link class="nav-link"  to="/">
            <i class="fas fa-users"></i>
            <span class="navtext">Users</span>
          </router-link>
        </li>
        <li class="">
          <router-link class="nav-link"  to="/books">
            <i class="fas fa-book"></i>
            <span class="navtext">Books</span>
          </router-link>
        </li>
        <li class="">
          <router-link class="nav-link"  to="/isrt/issue-book">
            <i class="fas fa-book-open"></i>
            <span class="navtext">Book Issue</span>
          </router-link>
        </li>
        <li class="">
          <router-link class="nav-link"  to="/isrt">
            <i class="fas fa-undo"></i>
            <span class="navtext">Book Return</span>
          </router-link>
        </li>
        <li class="">
          <router-link class="nav-link"  to="/isrt/transactions">
            <i class="fas fa-exchange-alt"></i>
            <span class="navtext">Issued Books</span>
          </router-link>
        </li>


        <!-- <li class="position-relative menuparent">
          <router-link to="/projects" class="nav-link">
            <i class="icon sitemap"></i>
            <span class="navtext">Projects</span>
            <div v-if="(msgsData.clientunreadmsgs!=0)&&(msgsData.clientunreadmsgs!=undefined)" class="ui label red mini" data-inverted data-tooltip='New message(s)'  data-position='top right'>
              <i class="comment icon"></i>
                {{msgsData.clientunreadmsgs}}
            </div> 
          </router-link>
        </li>
        <li>
          <router-link class="nav-link active" to="/invoices">
            <i class="icon file alternate"></i>
            <span class="navtext">Invoices</span>
        
          </router-link>
        </li> -->

      </ul>


      
    </div>
  </nav>

</template>

<script>
export default {
  props: ['dataSet'],
  data: function () {
    return {
      msgsData:[],
      isDemo:false,
    }
  },  
  mounted(){
    // this.countUnreadMsgs();
    // Fire.$on('countUnread',()=>{
    //   this.countUnreadMsgs();
    // })


  }

}
</script>
