<template>
  <div class='workarea'>

    <profiledummy  v-if='$parent.profileData.length<=0'></profiledummy>

    <div v-else>
      <div>
        <h2>
          <!-- Proofreading: Aerospace    -->
          <span class='ui label large floatright' :class="getColor($parent.profileData.status)">{{$parent.profileData.status}}</span>
        </h2>
      </div>
      <div>
        <i class='icon calendar'></i>Enquiry date: {{$parent.profileData.enquiry_date |  myDate("Asia/Kolkata","MMM D, YYYY")}}
        <div v-if="$parent.profileData.delivery_date">
          <i class='icon calendar'></i>Requested delivery date: {{$parent.profileData.delivery_date |   |  myDate("Asia/Kolkata","llll")}}
        </div>
        <div v-if="$parent.profileData.notes">
          <i class='icon pencil alternate'></i>Notes: {{$parent.profileData.notes}}<br>
        </div>

        <div v-if="$parent.profileData.expertise">
          <i class='icon user secret'></i> {{$parent.profileData.expertise.name}}<br>
        </div>

        <div v-if="$parent.profileData.client.address!=null && $parent.profileData.client.city!=null && $parent.profileData.client.city!=null && $parent.profileData.client.country!=null">
          <i class='icon  map marker alternate'></i> <pre style="display:inline;">{{$parent.profileData.client.address}}</pre>
          {{$parent.profileData.client.city}}<span v-if="$parent.profileData.client.city!=null && $parent.profileData.client.country!=null">,</span>
          {{$parent.profileData.client.country}}
        </div>

        <div v-if="$parent.profileData.lead_source.name">
          <span class="ui green label tiny">Lead source: {{$parent.profileData.lead_source.name}}</span>
        </div>

      </div>



      <!-- Table start======================= -->
      <h3>Language combinations</h3>
      <table class='ui table celled compact selectable'>
        <thead>
          <tr>
            <th>Job Type</th>
            <th>Source</th>
            <th>Target</th>
          </tr>
        </thead>
        <tbody>
            <tr v-for='(multi_row,index) in $parent.profileData.lead_job' :key='index'>
              <td>{{multi_row.job_type.name}}</td>
              <td>{{multi_row.source_language.name}}</td>
              <td>{{multi_row.target_language.name}}</td>
            </tr>
        </tbody>
      </table>
      <!-- Table end=============== -->

      <!-- Notes start================= -->
      <!-- <div>
        <b>Notes:</b> Lorem ipsum dolor sit amet.<br>
        <b>Currency:</b> <span class='ui green label mini'>INR</span><br>
        <b>GSTIN:</b> 07AADCB2230M1ZV<br>
        <b>Log by:</b> Luis Fonsi | Created on: 25 Jan 2018
      </div> -->

      <!-- Notes end================= -->

    </div>
  </div>
</template>

<script>
export default {

}
</script>
