<template>
  <div>
    <table class="ui table celled selectable">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Language combination</th>
          <th>Job type</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Price</th>
          <th>Job status</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>German to Mandarin</td>
          <td>Proofreading</td>
          <td>Aug 25, 2018</td>
          <td>Oct 14, 2018</td>
          <td>$132</td>
          <td><span class="ui blue label tiny">Active</span></td>
          <td>(3/5)</td>
        </tr>
        <tr>
          <td>1</td>
          <td>English to Snaskrit</td>
          <td>Translation</td>
          <td>May 20, 2011</td>
          <td>Dec 14, 2018</td>
          <td>$256</td>
          <td><span class="ui red label tiny">Running late</span></td>
          <td>(3/5)</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Portugese to Spanish</td>
          <td>Transcription</td>
          <td>August 25, 2018</td>
          <td>Nov 06, 2016</td>
          <td>$635</td>
          <td><span class="ui green label tiny">Completed</span></td>
          <td>(3/5)</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  mounted() {
    let recaptchaScript = document.createElement('script')
    recaptchaScript.setAttribute('src', '/js/main.js')
    document.head.appendChild(recaptchaScript);
  },

  data: function () {
    return {
      dataSet: {
        showaddnew: false,
      }
    }
  },
}
</script>
