<template>
  <div>
    <div class='d-flex'>
      <sidenav :dataSet='dataSet'></sidenav>
      <secondnav v-if='dataSet.showsecondnav' :dataSet='dataSet' :keyToCall='ref_no'></secondnav>

      <main class='maindiv d-flex flexmaindiv flow-column'>
        <!-- Fixed header content================= -->
        <fixedheaders :dataSet='dataSet'></fixedheaders>
        <!-- Above work area======================= -->
        <aboveworkarea v-if='dataSet.aboveWorkAreaMsg' :dataSet='dataSet'></aboveworkarea>

        <!-- Work area============================== -->
        <table class='table table-bordered selectable'>
          <thead>
            <tr>
              <th colspan='1'>
                <div class='ui checkbox' @click='toggleCheckbox'>
                    <input type='checkbox' v-model='selectAll'>
                    <label></label>
                </div>
              </th>
              <th v-for='(tableheading,index) in dataSet.tblHeadings' :key='index' v-html='tableheading'></th>
            </tr>
          </thead>

          <!-- <tabledummy v-if='dataSet.loading' :dataSet='dataSet'></tabledummy> -->

          <tbody>
            <tr v-for='fetchedRow in fetchedRows' :key='fetchedRow.id'>
              <td>
                <div class='ui checkbox'>
                  <input type='checkbox' :value='fetchedRow.id' v-model='dataSet.eachCheckbox'>
                  <label></label>
                </div>
              </td>
              <td>{{fetchedRow.id}}</td>
              <td>
                <router-link :to="dataSet.path+'/'+fetchedRow.id+'/edit'">
                  {{fetchedRow.name}}
                </router-link>
              </td>
              <td>{{fetchedRow.gender}}</td>
              <td>{{fetchedRow.email}}</td>
              <td>{{fetchedRow.primary_phone}}</td>
              <td>{{fetchedRow.city}}</td>
              <td>{{fetchedRow.street}}</td>
              
              <td>{{fetchedRow.created_at | myDate("Asia/Kolkata","MMM D, YYYY")}}</td>
            </tr>
          </tbody>
        </table>

<!-- pagination -->

      </main>
    </div>
  </div>
</template>
<script>
  export default {
    data: function () {
      return {
        selectAll:false,
        fetchedRows: [],
        profileData:[],
        dataSet: {
          eachCheckbox: [],
          search:'',
          showSearch:true,
          showImportExport:false,
          showaddnew: true,
          mainSidenav: true,
          settingsSidenav: false,
          showsecondnav: false,
          aboveWorkAreaMsg: false,
          loading:true,
          dummyRows: 10,
          heading1:'Users',
          path: '/users',
          tblHeadings: [
           'id#',	'Name', 'Gender',	'Email',	'Phone', 'City' , 'Street','created_at',	
          ],
        },
      }
    },
    mounted() {
      if(!this.loggedIn)
      this.$router.push("/users");
      
      this.loadIndex(this.$route.query.page);
      Fire.$on('loadindex',()=>{
        this.loadIndex(this.$route.query.page)
        this.dataSet.eachCheckbox=[]
      })

      // Fire.$on('searching',()=>{
      //     let query = this.dataSet.search;
      //     this.searchQuery(query);
      // })
    },
    beforeCreate() {
      // if(localStorage.getItem('userrole')=='client'){
      //   this.$router.replace('/clportal/projects')
      //   }
      // if(localStorage.getItem('userrole')=='vendor'){
      //   this.$router.replace('/venportal/jobs')
      //   }
    },

  }
</script>
