<template>
  <div>
    <!-- add new client Modal Starts -->
         <div class="ui tiny modal" :class="className">
            <div class="header">
              Add new billing type
            </div>
            <div class="content">
              <form class="ui form" :class="formClass"  @submit.prevent='createBillingType'>

                <textbox :leftlabel="true" leftlabeltext="Per" label='Name' idVal='name' :required='true' :form='addnewBillingType' :showlabel='true' :isMini='false'></textbox>

                <button :disabled='addnewBillingType.busy' class="ui green button" >Submit</button>
                <div class="ui negative button" @click="modalClose">
                  Cancel
                </div>
              </form>
            </div>

          </div>
  </div>
</template>

<script>
  export default {
    props: ['className','formClass'],
    data: function () {
      return {
        addnewBillingType: new Form({
            name:""
        }),
      }
    },
    methods:{
        createBillingType(){
            var path="/settings/billing-types"
            var msg="New billing type added"
            var requireRedirect=false
            this.customStoreParam(path, msg,'addnewBillingType', requireRedirect);
        },
        todoFunc(){
            this.$parent.allBillingTypes(true);
        }
    }
  }
</script>
