<template>
  <div>
    <!-- add new client Modal Starts -->
          <div class="ui large modal" :class="className">
            <div class="header">
              Add new client
            </div>
            <div class="scrolling content">
              <form class="ui form" :class="formClass" @submit.prevent='createClient'>
                  <h3 class='ui dividing header'>Step 1: General information </h3>
                  <div class='field'>
                    <div class='two fields'>
                      <textbox label='Display name (For internal use)' idVal='display_name' :required='true' :form='addnewClient' :showlabel='true' :isMini='false'></textbox>
                      <textbox label='Contact person' idVal='contact_person' :required='false' :form='addnewClient' :showlabel='true' :isMini='false'></textbox>
                    </div>
                  </div>

                  <textbox label='Company name' idVal='company_name' :required='false' :form='addnewClient' :showlabel='true' :isMini='false'></textbox>

                  <h3 class='ui dividing header'>Step 2: Contact details </h3>
                  <div class='field'>
                    <div class='two fields'>
                      <phonebox label='Primary phone' idVal='primary_phone' :required='false' :form='addnewClient' :showlabel='true' :isMini='false'></phonebox>
                      <phonebox label='Secondary phone' idVal='secondary_phone' :required='false' :form='addnewClient' :showlabel='true' :isMini='false'></phonebox>
                    </div>
                  </div>
                  <div class='field'>
                    <div class='two fields'>
                      <emailbox label='Primary email' idVal='primary_email' :required='false' :form='addnewClient' :showlabel='true' :isMini='false'></emailbox>
                      <emailbox label='Secondary email' idVal='secondary_email' :required='false' :form='addnewClient' :showlabel='true' :isMini='false'></emailbox>
                    </div>
                  </div>

                  <commentbox label='Address' idVal='address' :required='false' :form='addnewClient' :showlabel='true' :isMini='false'></commentbox>

                  <div class='field'>
                    <div class='two fields'>
                      <textbox label='City' idVal='city' :required='false' :form='addnewClient' :showlabel='true' :isMini='false'></textbox>
                      <textbox label='Country' idVal='country' :required='false' :form='addnewClient' :showlabel='true' :isMini='false'></textbox>
                    </div>
                  </div>
                  <h3 class='ui dividing header'>Step 3: More details </h3>

                <div class='field'>
                  <div class='two fields'>

                    <dropdown label='Currency' idVal='currency_id' :required='true' :dataArray='currencies' optionValKey='id' optionTextKey='name' :form='addnewClient' :allowNewVal='false' :showAddNew='false' :showlabel='true' :isMini='false' ></dropdown>
                    <dropdown label='Tax category' idVal='tax_category_id' :required='true' :dataArray='tax_categories' optionValKey='id' optionTextKey='name' :form='addnewClient' :allowNewVal='false' :showAddNew='false' :showlabel='true' :isMini='false' ></dropdown>

                  </div>
                </div>


                <textbox label='GSTIN' idVal='gstin' :required='false' :form='addnewClient' :showlabel='true' :isMini='false'></textbox>

                <button :disabled='addnewClient.busy' class="ui green button">Submit</button>
                <div class="ui negative button" @click="modalClose">
                  Cancel
                </div>
              </form>
            </div>

          </div>
  </div>
</template>

<script>
  export default {
    props: ['tax_categories', 'currencies', 'className','formClass'],
    data: function () {
      return {
        addnewClient: new Form({
          display_name:'',
          contact_person:'',
          company_name:'',
          primary_phone:'',
          secondary_phone:'',
          primary_email:'',
          secondary_email:'',
          address:'',
          city:'',
          country:'',
          currency_id:'',
          tax_category_id:'',
          gstin:'',
        }),
      }
    },
    methods:{
      createClient(){
          var path="/clients"
          var msg="New client added"
          var requireRedirect=false
          this.customStoreParam(path, msg,'addnewClient', requireRedirect);
      },

      todoFunc(){
        this.$parent.allClients(true);
      }
    }
  }
</script>
