<template>
  <div>
    <!-- add new client Modal Starts -->
          <div class="ui tiny modal" :class="className">
            <div class="header">
              Add new currency
            </div>
            <div class="content" >
              <form class="ui form" :class="formClass"  @submit.prevent='createCurrency'>

                <textbox label='Currency code' idVal='code' :required='true' :form='addnewCurrency' :showlabel='true' :isMini='false'></textbox>
                <textbox label='Currency name' idVal='name' :required='true' :form='addnewCurrency' :showlabel='true' :isMini='false'></textbox>

                <button :disabled='addnewCurrency.busy' class="ui green button">Submit</button>
                <div class="ui negative button" @click="modalClose">
                  Cancel
                </div>
              </form>
            </div>

          </div>
  </div>
</template>

<script>
  export default {
    props: ['className','formClass'],
    data: function () {
      return {
        addnewCurrency: new Form({
            name:"",
            code:""
        }),
      }
    },
    methods:{
        createCurrency(){
            var path="/settings/currencies"
            var msg="New currency added"
            var requireRedirect=false
            this.customStoreParam(path, msg,'addnewCurrency', requireRedirect);
        },
        todoFunc(){
            this.$parent.allCurrencies(true);
        },
    }
  }
</script>
