<template>
  <div>
    <!-- add new client Modal Starts -->
         <div class="ui tiny modal" :class="className">
            <div class="header">
              Add new expertise
            </div>
            <div class="content">
              <form class="ui form" :class="formClass"  @submit.prevent='createExpertise'>

                <textbox label='Experise name' idVal='name' :required='false' :form='addnewExpertise' :showlabel='true' :isMini='false'></textbox>

                <button :disabled='addnewExpertise.busy' class="ui green button" >Submit</button>
                <div class="ui negative button" @click="modalClose">
                  Cancel
                </div>
              </form>
            </div>

          </div>
  </div>
</template>

<script>
  export default {
    props: ['className','formClass'],
    data: function () {
      return {
        addnewExpertise: new Form({
            name:""
        }),
      }
    },
    methods:{
        createExpertise(){
            var path="/settings/expertise"
            var msg="New expertise added"
            var requireRedirect=false
            this.customStoreParam(path, msg,'addnewExpertise', requireRedirect);
        },
        todoFunc(){
            this.$parent.allExpertise(true);
        }
    }
  }
</script>
