<template>
  <div>
    <!-- add new client Modal Starts -->
         <div class="ui tiny modal" :class="className">
            <div class="header">
              Import data (Formats allowed: .xls, .xlsx, .ods, .csv) <u><a :href="dataSet.sample_link" class="tinytext">Download sample</a></u>
            </div>
            <div class="content">
              <form class="ui form" :class="formClass" @submit.prevent="submitFile">

                <input type="file" id="file" name="file" ref="file" class="form-control" required v-on:change="handleFileUpload()" accept=".xls,.xlsx,.ods,.csv"/>
                <br>
                <br>
                <button type="submit" class="ui green button">Submit</button>
                <div class="ui grey button" @click="modalClose">
                  Cancel
                </div>
              </form>
            </div>

          </div>
  </div>
</template>

<script>
  export default {
    props: ['className','formClass','dataSet'],
    data() {
      return {
        file: ''
      }
    },
    methods: {
      submitFile(){
      this.$parent.$Progress.start();

            let formData = new FormData();
            formData.append('file', this.file);
            axios.post('/api'+this.dataSet.path+'/import',
                formData,
                {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
              }
            ).then(()=>{
                this.$parent.$Progress.finish();
                toast({
                  type: "success",
                  title: "Data upload complete"
                });
                $('.'+this.className).modal('hide');
                Fire.$emit('loadindex');
        })
        .catch((error)=>{
          this.$parent.$Progress.fail();
          // console.log(error.response)
          Swal({
            type: "error",
            title: "Oops... Something went wrong",
            text: error.response.data.message,
            showCloseButton: true,
            showConfirmButton: false,
            footer: "<a href>Report this issue</a>"
          });
        });
      },
      handleFileUpload(){
        this.file = this.$refs.file.files[0];
      }
    }
  }
</script>
