<template>
  <div>
    <!-- add new client Modal Starts -->
         <div class="ui tiny modal" :class="className">
            <div class="header">
              Add new job type
            </div>
            <div class="content">
              <form class="ui form" :class="formClass"  @submit.prevent='createJobType'>

                <textbox label='Name' idVal='name' :required='false' :form='addnewJobType' :showlabel='true' :isMini='false'></textbox>

                <button :disabled='addnewJobType.busy' class="ui green button" >Submit</button>
                <div class="ui negative button" @click="modalClose">
                  Cancel
                </div>
              </form>
            </div>

          </div>
  </div>
</template>

<script>
  export default {
    props: ['className','formClass'],
    data: function () {
      return {
        addnewJobType: new Form({
            name:""
        }),
      }
    },
    methods:{
        createJobType(){
            var path="/settings/job-types"
            var msg="New job type added"
            var requireRedirect=false
            this.customStoreParam(path, msg,'addnewJobType', requireRedirect);
        },
        todoFunc(){
            this.$parent.allJobTypes(true);
        }
    }
  }
</script>
