<template>
  <div>
    <!-- add new client Modal Starts -->
         <div class="ui tiny modal" :class="className">
            <div class="header">
              Add new language
            </div>
            <div class="content">
              <form class="ui form" :class="formClass"  @submit.prevent='createLanguage'>
                <textbox label='Language name' idVal='name' :required='false' :form='addnewLanguage' :showlabel='true' :isMini='false'></textbox>

                <button :disabled='addnewLanguage.busy' class="ui green button">Submit</button>
                <div class="ui negative button" @click="modalClose">
                  Cancel
                </div>
              </form>
            </div>

          </div>
  </div>
</template>

<script>
  export default {
    props: ['className','formClass'],
    data: function () {
      return {
        addnewLanguage: new Form({
            name:"",
        }),
      }
    },
    methods:{
        createLanguage(){
            var path="/settings/languages"
            var msg="New language added"
            var requireRedirect=false
            this.customStoreParam(path, msg,'addnewLanguage', requireRedirect);
        },
        todoFunc(){
            this.$parent.allLanguages(true);
        }
    }
  }
</script>
