<template>
  <div>
    <!-- add new client Modal Starts -->
         <div class="ui tiny modal" :class="className">
            <div class="header">
              Add new lead source
            </div>
            <div class="content">
              <form class="ui form" :class="formClass"  @submit.prevent='createLeadSource'>

                <textbox label='Source name' idVal='name' :required='false' :form='addnewLeadSource' :showlabel='true' :isMini='false'></textbox>

                <button :disabled='addnewLeadSource.busy' class="ui green button" >Submit</button>
                <div class="ui negative button" @click="modalClose">
                  Cancel
                </div>
              </form>
            </div>

          </div>
  </div>
</template>

<script>
  export default {
    props: ['className','formClass'],
    data: function () {
      return {
        addnewLeadSource: new Form({
            name:""
        }),
      }
    },
    methods:{
        createLeadSource(){
            var path="/settings/lead-sources"
            var msg="New lead source added"
            var requireRedirect=false
            this.customStoreParam(path, msg,'addnewLeadSource', requireRedirect);
        },
        todoFunc(){
            this.$parent.allLeadSources(true);
        }
    }
  }
</script>
