<template>
  <div>
    <!-- add new client Modal Starts -->
         <div class="ui tiny modal" :class="className">
            <div class="header">
              Mark delivered
            </div>
            <div class="content">
              <form class="ui form"  @submit.prevent='markDelivered'>

                  <datepicker type="datetime" label='Actual delivery date'  idVal='delivery_date' :required='false' :form='markProjectDelivered' :showlabel='true' :isMini='false'></datepicker>

                  <button :disabled='markProjectDelivered.busy' class="ui green button">Submit</button>
                  <div class="ui negative button" @click="modalClose">
                    Cancel
                  </div>
                </form>
            </div>

          </div>
  </div>
</template>

<script>
  export default {
    props: ['className'],
    data: function () {
      return {
        markProjectDelivered: new Form ({
          delivery_date:''
        }),
      }
    },
    methods:{
        markDelivered(){
        var path="/projects/"+this.$parent.profileData.id+'/markDelivered'
        var msg="Project delivered"
        var requireRedirect=false
        this.customStoreParam(path, msg,'markProjectDelivered', requireRedirect);
        },
        todoFunc(){
            // this.$parent.allLanguages();
            this.$parent.loadProfile(this.$parent.profileData.id);
        }
    }
  }
</script>
