<template>
  <div>
    <!-- add new client Modal Starts -->
         <div class="ui large modal" :class="className">
            <div class="header">
              Senders
            </div>
            <div class="content">
              <form class="ui form" :class="formClass"  @submit.prevent='createSender'>
                  <table class='ui table celled selectable'>
                    <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Email address</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(sender,index) in addnewSender.senders" :key="index">
                        <td>{{index+1}}</td>
                        <td><input type="text" v-model="sender.name"></td>
                        <td><input type="text" v-model="sender.email"></td>
                        <td class='ui center aligned vendor_filter_td_icons'>
                          <div class='table_action_btn blue_icon'  @click="duplicateRow(sender,index)">
                            <i class='icon clone'></i>
                          </div>
                          <div v-if="index>0" class="table_action_btn red_icon ml5" @click="removeRow(index,'senders')">
                            <i class="icon close icon"></i>
                          </div>
                          <div v-else class="table_action_btn whiteborder ml5">
                            &nbsp;
                          </div>
                        </td>
                      </tr>
                    </tbody>
                </table>
                <!-- Table end=============== -->
                <a href="javascript:void(0)" class="ui basic button" @click="addRow">+ Add multiple emails to the list</a>
                <br>
                <br>
                <button :disabled='createSender.busy' class="ui green button" >Submit</button>
                <div class="ui negative button" @click="modalClose">
                  Cancel
                </div>

              </form>
            </div>

          </div>
  </div>
</template>

<script>
  export default {
    props: ['className','formClass','senders'],
    data: function () {
      return {
        addnewSender: new Form({
            senders:[]
        }),
      }
    },
    methods:{
        createSender(){
            var path="/addemailsender"
            var msg="New email sender added"
            var requireRedirect=false
            this.customStoreParam(path, msg,'addnewSender', requireRedirect);
        },
        todoFunc(){
          this.$parent.frommails=[]
            this.$parent.allUniqueSenders(true);
        },
        addRow() {
          this.addnewSender.senders.push({
              name:'',
              email:'',
          })
        },
        duplicateRow(multirow,index){
          this.addnewSender.senders.splice(index+1,0,{
              name:multirow.name,
              email:multirow.email,
          })
        },
        removeRow(index, senders) {
            this.addnewSender.senders.splice(index, 1);
            let mountScript = document.createElement('script')
            mountScript.setAttribute('src', '/js/main.js')
            document.head.appendChild(mountScript);
        },
    },


  }
</script>
