<template>
  <div>
    <!-- add new client Modal Starts -->
         <div class="ui large modal" :class="className">
            <div class="header">
              Assign job
            </div>
            <div class="content">
              <form class="ui form" :class="formClass"  @submit.prevent='assignprojectjobs'>
                  <table class='ui table celled selectable'>
                    <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Description</th>
                        <th>Charges</th>
                        <th>Vendor
                          <select v-show="allvendordropdown" id="allvendors">
                            <optgroup label="All vendors">
                            <option v-for="el in vendors" :value="el.id">{{el.display_name}}</option>
                          </optgroup>
                        </select>
                        </th>
                        <th>Vendor rate</th>
                        <th>Vendor charges</th>
                        <th>Job deadline</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(job,index_1) in profileData_n.project_job" :key="index_1">
                      <td>{{index_1+1}}</td>

                      <td>{{job.source_language.name}} to {{job.target_language.name}}<br>
                        <div v-if="job.billing_rate!=null">
                          ({{job.volume}} {{job.billing_type.name}})
                        </div>
                        <div class="tinytext greytext">
                          {{job.job_type.name}}
                        </div>
                      </td>

                      <td>{{profileData.currency.code}} {{job.charges}}</td>
                      <td>
                          {{vendorlist(job.source_language_id,job.target_language_id,job.job_type_id,index_1,job)}}

                          <select @change="changevendor(job,index_1)" class="vendorsjobselect multitableinput" :class="'vendor_'+index_1" :id="'vendor_'+index_1" v-model="job.vendor_id" :disabled="job.vendor_paid==1"></select>
                      </td>
                      <td class="w250">
                        <div class="d-inblock vtop w70">
                          <select class="multitableinput" v-model="job.vendor_currency_id" :class="'currency_id_'+index_1" :id="'currency_id_'+index_1" :disabled="job.vendor_paid==1">
                            <option :value="null">Select</option>
                            <option v-for="curr in currencies" :key="curr.id" :value="curr.id">{{curr.code}}</option>
                          </select>
                        </div>

                        <div class="d-inblock vtop w70">
                          <input class="multitableinput" type="number" step="any" placeholder="Rate" v-model="job.vendor_billing_rate" @keyup="calculateCharge(job)" :disabled="job.vendor_paid==1">
                        </div>
                        <div class="d-inblock">
                          <div class="ui labeled input">
                            <select class="multitableinput" v-model="job.vendor_billing_type_id" :disabled="job.vendor_paid==1">
                              <option value='null'>Select</option>
                              <option v-for="billing_type in billing_types" :key="billing_type.id" :value="billing_type.id">Per {{billing_type.name}}</option>
                            </select>
                          </div>
                        </div>

                      </td>
                      <td>
                        <input class="multitableinput" type="number" min="0" step="any" placeholder="Charges" v-model="job.vendor_charges" :disabled="job.vendor_paid==1">
                      </td>
                      <td>
                        <div class="smalldatebox">
                          <datetime :auto="true" type="datetime" placeholder="Job deadline" required="required" v-model="job.job_deadline"></datetime>
                        </div>
                      </td>
                      </tr>
                    </tbody>
                </table>
                <!-- Table end=============== -->
                <button :disabled='assignprojectjobsform.busy' class="ui green button" >Submit</button>
                <div class="ui negative button" @click="modalClose">
                  Cancel
                </div>

              </form>
            </div>

          </div>
  </div>
</template>

<script>
  export default {
    props: ['className','formClass','profileData'],
    data: function () {
      return {
        currencies:[],
        billing_types:[],
        selected_vendor:[],
        vendors:[],
        allvendordropdown:false,
        vendorlanguagecombinantions:[],
        profileData_n:JSON.parse(JSON.stringify(this.profileData)),
        assignprojectjobsform: new Form({
            projectjobs:[]
        }),
      }
    },
    created(){
      this.allVendors();
      this.allCurrencies();
      this.allBillingTypes();
      this.allLanguageCombinations();
      this.assignprojectjobsform.projectjobs=this.profileData_n.project_job
    },
    methods:{
      datepickerClosedCustomFunction(job) {
            var year = job.job_deadline.getFullYear();
            var month = job.job_deadline.getMonth() + 1;
            var day = job.job_deadline.getDate();
            if (month < 10) {
                month = '0' + month;
            }
            if (day < 10) {
                day = '0' + day;
            }
            var dt = year + '-' + month + '-' + day;
            // x=dt;
            job.job_deadline=dt


            // x=x.getFullYear()
        },
        assignprojectjobs(){
            var path="/projects/jobassign"
            var msg="Project job(s) assigned"
            var requireRedirect=false
            this.modalform(path, msg,'assignprojectjobsform', requireRedirect);
        },
        modalform(path, msg, formname = 'form', requireRedirect) {
            this.$Progress.start();
            this[formname].post('/api' + path)
                .then((data) => {
                    toast({
                        type: 'success',
                        title: msg,
                    })
                    this.$Progress.finish();

                    $('.ui.modal').modal('hide');
                    this.todoFunc();
                    // this[formname].reset();
                    if (requireRedirect) {
                        this.$router.push(path);
                    }
                })
                .catch((error) => {
                    this.$Progress.fail();
                    if (error.response.status == 401) {
                        this.$router.push('/loginf');
                    } else {
                        if (error.response.status != 422) {
                            Swal({
                                type: 'error',
                                title: 'Oops... Something went wrong',
                                text: error,
                                showCloseButton: true,
                                showConfirmButton: false,
                                footer: '<a href>Report this issue</a>'
                            })
                        }
                    }
                });
        },
        todoFunc(){
            // this.$parent.allBillingTypes();
            this.$parent.$parent.loadProfile(this.profileData.id);

        },
        calculateCharge(job){
           job.vendor_charges= job.volume*job.vendor_billing_rate
        },
        changevendor(job,index){
          if(job.vendor_id!='null'){
            this.selected_vendor=this.filtervendor(job);
            if(this.selected_vendor.length>0){
              job.vendor_currency_id=this.selected_vendor[0].vendordetails.currency_id;
              job.vendor_billing_rate=this.selected_vendor[0].billing_rate;
              job.vendor_billing_type_id=this.selected_vendor[0].billing_type_id;
              var calculated_charges=this.selected_vendor[0].billing_rate*job.volume;
              if(job.billing_type_id==this.selected_vendor[0].billing_type_id){
                if(calculated_charges<this.selected_vendor[0].vendordetails.min_billing_charge){
                  job.vendor_charges=this.selected_vendor[0].vendordetails.min_billing_charge;
                }else{
                  job.vendor_charges=this.selected_vendor[0].billing_rate*job.volume;
                }
              }
              $('.currency_id_'+index).attr("required","required");
            }
            else{
              //Non matching vendor is selected
              this.selected_vendor=this.filtervendorAll(job);
              job.vendor_currency_id=this.selected_vendor[0].currency_id;
              job.vendor_charges=this.selected_vendor[0].min_billing_charge;
              // job.vendor_currency_id='null'
              job.vendor_billing_rate=''
              job.vendor_billing_type_id='null'
              // job.vendor_charges=''
              $('.currency_id_'+index).attr("required","required");
            }
          }
          else{
            //If vendor is blank
            job.vendor_currency_id='null'
            job.vendor_billing_rate=null
            job.vendor_billing_type_id='null'
            job.vendor_charges=null
            this.selected_vendor=[]
            $('.currency_id_'+index).removeAttr("required");
          }
        },
        filtervendor(job){
          return this.vendorlanguagecombinantions.filter(row => {
               if(row.vendor_id==job.vendor_id && row.source_language_id==job.source_language_id &&row.target_language_id==job.target_language_id && row.job_type_id==job.job_type_id ){
                 return true
               }
            })
        },
        filtervendorAll(job){
          return this.vendors.filter(row => {
               if(row.id==job.vendor_id){
                 return true
               }
            })
        },

        vendorlist(source_language_id,target_language_id,job_type_id,index,job){
          // console.log($('.vendor_'+index))
          if($('.vendor_'+index).length==0){
            axios.post('/api/matchingvendors',{source:source_language_id,target:target_language_id,job_type:job_type_id})
                .then(({
                  data
                }) => {
                  
                  var options="<option value="+null+">Select vendor</option><optgroup label='Matching Vendors'>";
                    var inc=0;
                  // console.log(data);
                    data.forEach(element => {
                      var id=element.vendor_id
                      var name=element.vendordetails.display_name
                      options=options+"<option value='"+id+"' key="+inc+">"+name+"</option>"
                      inc++
                    });
                    if(options=="<option value="+null+">Select vendor</option><optgroup label='Matching Vendors'>"){
                      options="<optgroup label='Matching Vendors'><option value="+null+">No vendors</option></optgroup>";
                    }else{
                      options=options+"</optgroup>";
                    }
                      setTimeout(() => {
                        
                      $('.vendor_'+index).html(options+$('#allvendors').html());
                      $('.vendor_'+index).val(job.vendor_id==undefined?'null':job.vendor_id);
                      if(job.vendor_id==undefined){
                        $('.currency_id_'+index).removeAttr("required");
                      }
                      else{
                        $('.currency_id_'+index).attr("required","required");
                        //  $('.currency_id_'+index).val(job.vendor_id==undefined?'null':job.vendor_id);
                      }

                      }, 1500);

                })
                .catch(({error})=>{

                })
          }

        },
    },
  }
</script>
