<template>
  <div>
    <!-- add new client Modal Starts -->
          <div class="ui tiny modal" :class="className">
            <div class="header">
              Add new tax category
            </div>
            <div class="content" >

              <form  class='ui form' @submit.prevent='createTaxcategory'>

                  <!-- snip: formheading======================== -->
                  <textbox label='Name' idVal='name' :required='true' :form='addnewTaxCategory' :showlabel='true' :isMini='false'></textbox>

                  <dropdown label='Taxes' idVal='linked_taxes_id' :required='true' :dataArray='taxes' optionValKey='id' optionTextKey='name' :form='addnewTaxCategory' :pillbox='true' :allowNewVal='false' :showAddNew='false' :showlabel='true' :isMini='false'></dropdown>

                  <!-- <dropdown label='Taxes' idVal='linked_taxes_id' :required='false' :dataArray='taxes' optionValKey='id' optionTextKey='name' :form='addnewTaxCategory' :allowNewVal='false' :showAddNew='false' :showlabel='true' :pillbox='true' :isMini='false' ></dropdown> -->


                <!-- snip: multirowtable=========================== -->

                  <button :disabled='addnewTaxCategory.busy' type='submit' class='ui green button'>Submit</button>
                  <div class="ui negative button" @click="modalClose">
                        Cancel
                  </div>
              </form>
            </div>

          </div>
  </div>
</template>

<script>
  export default {
    props: ['className','formClass','taxes'],
    data: function () {
      return {
        addnewTaxCategory: new Form({
            name:"",
            linked_taxes_id:[]
        }),
      }
    },
    methods:{
        createTaxcategory(){
            var path="/settings/tax-categories"
            var msg="New tax-category added"
            var requireRedirect=false
            this.customStoreParam(path, msg,'addnewTaxCategory', requireRedirect);
        },
        todoFunc(){
            this.$parent.allTaxCategories(true);
        },
    }
  }
</script>
