<template>
  <div>
    <!-- add new client Modal Starts -->
         <div class="ui small modal" :class="className">
            <div class="header">
              Add new terms
            </div>
            <div class="content">
              <form class="ui form" :class="formClass"  @submit.prevent='createTerms'>

                <textbox label='Term title' idVal='term_title' :required='true' :form='addnewTerms' :showlabel='true' :isMini='false'></textbox>
                <editorbox label='Description' idVal='description' :required='true' :form='addnewTerms' :showlabel='true' :isMini='false'></editorbox>

                <button :disabled='addnewTerms.busy' class="ui green button" >Submit</button>
                <div class="ui negative button" @click="modalClose">
                  Cancel
                </div>
              </form>
            </div>

          </div>
  </div>
</template>

<script>
  export default {
    props: ['className','formClass'],
    data: function () {
      return {
        addnewTerms: new Form({
            term_title: '',
            description: '<div></div>',
        }),
      }
    },
    methods:{
        createTerms(){
            var path="/settings/terms"
            var msg="New Terms and Conditions added successfully"
            var requireRedirect=false
            this.customStoreParam(path, msg,'addnewTerms', requireRedirect);
        },
        todoFunc(){
            this.$parent.allTerms(true);
        }
    }
  }
</script>
