<template>
  <div>
    <!-- add new client Modal Starts -->
         <div class="ui large modal" :class="className">
            <div class="header">
              Apply vendor filters
            </div>
            <div class="content">
              <form class="ui form" :class="formClass"  @submit.prevent='submitCustomFilter'>

                <div class='mr15 mt10 mb10'>

                  <!-- <h3 class='ui header'>Language combination</h3> -->
                  <table class='ui celled table'>
                    <thead>
                      <tr>
                        <th>Job Type</th>
                        <th>Source Language</th>
                        <th>Target Language</th>
                        <!-- <th>Rate</th> -->
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for='(multi_row,index) in form.language_combination' :key='index'>
                        <td>
                          <dropdown label='jobtype' idVal='job_type_id' :dataArray='job_types' optionValKey='id' optionTextKey='name' :form='form' :showAddNew='false' :isMini='true' :isMultiRowLooped='true' :loopVariable='multi_row' :required='false' :isClick="false" clickname="showAddNewJobTypeModal"></dropdown>
                        </td>
                        <td>
                          <!-- snip: textboxmultirow|dropdownmultirow========== -->
                          <dropdown label='source' idVal='source_language_id' :dataArray='languages' optionValKey='id' optionTextKey='name' :form='form' :showAddNew='false' :isMini='true' :isMultiRowLooped='true' :loopVariable='multi_row' :required='false' :isClick="false" clickname="showAddNewLanguageModal"></dropdown>
                        </td>
                        <td>
                          <dropdown label='target' idVal='target_language_id' :dataArray='languages' optionValKey='id' optionTextKey='name' :form='form' :showAddNew='false' :isMini='true' :isMultiRowLooped='true' :loopVariable='multi_row' :required='false' :isClick="false" clickname="showAddNewLanguageModal"></dropdown>
                        </td>

                        <td class='ui center aligned vendor_filter_td_icons'>
                          <div class='table_action_btn blue_icon'  @click="duplicateRow(multi_row,index)">
                            <i class='icon clone'></i>
                          </div>
                          <div v-if="index>0" class="table_action_btn red_icon ml5" @click="removeRow(index,'language_combination')">
                            <i class="icon close icon"></i>
                          </div>
                          <div v-else class="table_action_btn whiteborder ml5">
                            &nbsp;
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <dropdown label='Expertise' idVal='expertise' :required='false' :dataArray='expertise' optionValKey='id' optionTextKey='name' :form='form' :pillbox='true' :allowNewVal='false' :showAddNew='false' :showlabel='true' :isMini='false' :isClick="false" clickname="ShowAddNewExpertiseModal"></dropdown>

                </div>
                <button :disabled='form.busy' class="ui green button mt5" >Apply</button>
                <div class="ui negative button mt5" @click="modalClose">
                  Cancel
                </div>
              </form>
            </div>

          </div>
  </div>
</template>

<script>
  export default {
    props: ['className','formClass'],
    data: function () {
      return {
        expertise: [],
        job_types:[],
        languages:[],
        billing_types:[],
        form: new Form({
        expertise:[],
        language_combination: [{
          source_language_id:'',
          target_language_id:'',
          job_type_id:'',
          billing_type_id:'',
          billing_rate:'',
        }],
      }),
      }
    },
    methods:{
        submitCustomFilter(){
            var path="/vendors/apply-filters"
            var msg="Filter Applied"
            // var requireRedirect=false
            // this.customStoreParam(path, msg,'addnewLeadSource', requireRedirect);

              this.$Progress.start();
              this.form.post('/api' + path)
                .then((data) => {
                    console.log(data.data);
                    this.$parent.$parent.fetchedRows=data.data;
                    this.$parent.filtername='Filter applied';
                    this.$parent.filterclass='orange';
                    this.$parent.showClearFilter=false;
                    this.$parent.showClearCustomSearchFilter = true;
                    this.$parent.dataSet.search='';
                    toast({
                        type: 'success',
                        title: msg,
                    })

                    this.$Progress.finish();

                    $('.ui.modal').modal('hide');
                    // this.todoFunc();
                    // this[formname].reset();
                    // if (requireRedirect) {
                    //     this.$router.push(path);
                    // }
                })
              .catch((error)=>{
                console.log('Not ok')
              })
        },
        todoFunc(){
            this.$parent.allLeadSources();
        },
        addRow() {
          this.form.language_combination.push({
              source_language_id:'',
              target_language_id:'',
              job_type_id:'',
              billing_type_id:'',
              billing_rate:'',
          })
        },
        duplicateRow(multirow,index){
          this.form.language_combination.splice(index+1,0,{
              source_language_id:multirow.source_language_id,
              target_language_id:multirow.target_language_id,
              job_type_id:multirow.job_type_id,
              billing_type_id:multirow.billing_type_id,
              billing_rate:multirow.billing_rate,
          })
        }
    },
    created() {
      this.allLanguages(true);
      this.allJobTypes(true);
      // this.allExpertise();
      this.allBillingTypes(true);
      this.allExpertise(true);
      // this.allCountries();
      // this.allCurrencies();
    },
  }
</script>
