<template>
  <div>
    <!-- Record vendor payment modal starts -->
         <div class="ui tiny modal" :class="className">
            <div class="header">
              Record vendor payment
            </div>

            <div class="content">
              <form class="ui form recordpaymentform" @mouseover='loadJobVendor' @submit.prevent='recordVendorPayment'>

                <datepicker label='Payment date'  idVal='payment_date' :required='true' :form='vendorpaymentform' :showlabel='true' :isMini='false'></datepicker>

                <input type="hidden" v-model="vendorpaymentform.project_job_id">
                <input type="hidden" v-model="vendorpaymentform.vendor_id">

                <button class="ui green button" :disabled='vendorpaymentform.busy' >Submit</button>
                <div class="ui negative button" @click="modalClose">
                  Cancel
                </div>
              </form>
            </div>

          </div>
  </div>
</template>

<script>
  export default {
    props: ['className','formClass','profileData'],
    data() {
      return {
        vendorpaymentform: new Form({
            payment_date:this.phpDate(),
            project_job_id:'',
            vendor_id:'',
        }),

      }
    },
    methods:{
        recordVendorPayment(){
          var path="/projects/"+this.vendorpaymentform.project_job_id+'/recordpayment'
          var msg="Payment recorded"
          var requireRedirect=false
          this.customStoreParam(path, msg,'vendorpaymentform', requireRedirect);
        },
        todoFunc(){
            this.$parent.$parent.loadProfile(this.profileData.id);
        },
        loadJobVendor(){
          this.vendorpaymentform.project_job_id=this.$parent.$parent.job_id;
          this.vendorpaymentform.vendor_id=this.$parent.$parent.vendor_id;
        }


    }
  }
</script>
